{% extends 'layout2.html' %}
{% load render_partial %}
{% load poll_extras %}

{% block title %}
    لیست محصولات
{% endblock %}
{% block links %}
    <link rel="stylesheet" href="/static/lib/sweetalert/sweetalert2.min.css">
{% endblock %}
{% block content %}
    <body class="sticky-header">
    <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a
            href="https://browsehappy.com/">upgrade
        your browser</a> to improve your experience and security.</p>
    <![endif]-->
    <a href="#top" class="back-to-top" id="backto-top"><i class="fal fa-arrow-up"></i></a>

    <main class="main-wrapper">
        <!-- Start Breadcrumb Area  -->
        <div class="axil-breadcrumb-area">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-8">
                        <div class="inner">
                            <ul class="axil-breadcrumb">
                                <li class="axil-breadcrumb-item"><a href="{% url 'home' %}">خانه</a></li>
                                <li class="separator"></li>
                                <li class="axil-breadcrumb-item active" aria-current="page">فروشگاه</li>
                            </ul>
                            <h1 class="title">همه محصولات را کاوش کنید</h1>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-4">
                        <div>
                            <div class="bradcrumb-thumb" id="clock" style="font-size: 2em; text-align: left;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Breadcrumb Area  -->

        <!-- Start Shop Area  -->
        <div class="axil-shop-area axil-section-gap bg-color-white">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        {% render_partial 'product_module.views.render_partial_sidebar' %}
                        <!-- End .axil-shop-sidebar -->
                    </div>
                    <div class="col-lg-9">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="axil-shop-top mb--40">
                                    <div class="category-select align-items-center justify-content-lg-end justify-content-between">
                                        <!-- Start Single Select  -->
                                        <span class="filter-results">نمایش 1-12 از {{ total_products }} محصول</span>
                                        <select class="single-select">
                                            <option>آخرین</option>
                                            <option>جدیدترین</option>
                                            <option>نام</option>
                                            <option>قیمت</option>
                                        </select>
                                        <!-- End Single Select  -->
                                    </div>
                                    <div class="d-lg-none">
                                        <button class="product-filter-mobile filter-toggle"><i
                                                class="fas fa-filter"></i> فیلتر
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End .row -->
                        <div class="row row--15">
                            {% for product in products %}
                                <div class="col-xl-3 col-lg-4 col-sm-6">
                                    <div class="axil-product product-style-one has-color-pick mt--40">
                                        <div class="thumbnail">
                                            <a href="{% url 'product_detail' product.slug %}"
                                               style="text-align: center;width: 220px;height: 220px">
                                                <img src="{{ product.mainimage.url }}"
                                                     alt="Product Images">
                                            </a>
                                            {% if product.discount %}
                                                <div class="label-block label-right">
                                                    <div class="product-badget">{{ product.get_discount_display }}
                                                        تخفیف
                                                    </div>
                                                </div>
                                            {% endif %}
                                            <div class="product-hover-action">
                                                <ul class="cart-action">
                                                    {% if request.user.is_authenticated %}
                                                        <li class="wishlist"><a onclick="add_to_wish({{ product.id }})"
                                                                                href="#"><i
                                                                class="far fa-heart"></i></a></li>
                                                    {% else %}
                                                        <li class="wishlist"><a onclick="add_to_wish({{ product.id }})"
                                                                                href="{% url 'login' %}"><i
                                                                class="far fa-heart"></i></a></li>
                                                    {% endif %}
                                                    <li class="select-option"><a
                                                            href="{% url 'product_detail' product.slug %}">جزئیات</a>
                                                    </li>
                                                    <li class="quickview"><a href="#" data-bs-toggle="modal"
                                                                             data-bs-target="#quick-view-modal"><i
                                                            class="far fa-eye"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <div class="inner">
                                                <h5 class="title"><a
                                                        href="{% url 'product_detail' product.slug %}">{{ product.title }}</a>
                                                </h5>
                                                {% if product.count and product.price %}
                                                    <div class="product-price-variant">
                                                        <span class="price current-price">{{ product.final_price|digits }} تومان</span>
                                                        {% if product.discount %}
                                                            <span class="price old-price">{{ product.price|digits }}</span>
                                                        {% endif %}
                                                    </div>
                                                {% elif product.count and product.price is None %}
                                                    <div class="product-price-variant">
                                                        <span class="price current-price">رایگان</span>
                                                    </div>
                                                {% else %}
                                                    <div class="product-price-variant">
                                                        <span class="price current-price">ناموجود</span>
                                                    </div>
                                                {% endif %}
                                                <div class="color-variant-wrapper">
                                                    <ul class="color-variant">
                                                        <li class="color-extra-01 active"><span><span
                                                                class="color"></span></span>
                                                        </li>
                                                        <li class="color-extra-02"><span><span
                                                                class="color"></span></span>
                                                        </li>
                                                        <li class="color-extra-03"><span><span
                                                                class="color"></span></span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}

                        </div>
                        <div class="post-pagination">
                            <nav class="navigation pagination" aria-label="Products">
                                <ul class="page-numbers">
                                    {% if page_obj.has_previous %}
                                        <li>
                                            <a class="page-numbers" href="?page={{ page_obj.previous_page_number }}"
                                               aria-label="Previous">
                                                <i class="fal fa-arrow-right"></i>
                                            </a>
                                        </li>
                                    {% endif %}
                                    {% for page in paginator.page_range %}
                                        <li>{% if page_obj.number == page %}
                                            <span aria-current="page" class="page-numbers current">{{ page }}</span>
                                        {% else %}
                                            <li><a class="page-numbers" href="?page={{ page }}">{{ page }}</a></li>
                                        {% endif %}
                                    {% endfor %}
                                    {% if page_obj.has_next %}
                                        <li>
                                            <a class="page-numbers" href="?page={{ page_obj.next_page_number }}"
                                               aria-label="Next">
                                                <i class="fal fa-arrow-left"></i>
                                            </a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End .container -->
        </div>
        <!-- End Shop Area  -->

        <!-- Start Axil Newsletter Area  -->
        <div class="axil-newsletter-area axil-section-gap pt--0">
            <div class="container">
                <div class="etrade-newsletter-wrapper bg_image bg_image--5">
                    <div class="newsletter-content">
                    <span class="title-highlighter highlighter-primary2"><i
                            class="fas fa-envelope-open"></i>خبرنامه</span>
                        <h2 class="title mb--40 mb_sm--30">دریافت آپدیت هفتگی</h2>
                        <div class="input-group newsletter-form">
                            <div class="position-relative newsletter-inner mb--15">
                                <input placeholder="example@gmail.com" type="text">
                            </div>
                            <button type="submit" class="axil-btn mb--15">اشتراک</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End .container -->
        </div>
        <!-- End Axil Newsletter Area  -->
    </main>
    <div class="service-area">
        <div class="container">
            <div class="row row-cols-xl-4 row-cols-sm-2 row-cols-1 row--20">
                <div class="col">
                    <div class="service-box service-style-2">
                        <div class="icon">
                            <img src="/static/images/icons/service1.png" alt="Service">
                        </div>
                        <div class="content">
                            <h6 class="title">ارسال سریع و ایمن</h6>
                            <p>برای تمامی سفارشات.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="service-box service-style-2">
                        <div class="icon">
                            <img src="/static/images/icons/service2.png" alt="Service">
                        </div>
                        <div class="content">
                            <h6 class="title">گارانتی بازگشت وجه</h6>
                            <p>حتی بیشتر از 7 روز.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="service-box service-style-2">
                        <div class="icon">
                            <img src="/static/images/icons/service3.png" alt="Service">
                        </div>
                        <div class="content">
                            <h6 class="title">مرجوعی طی 24 ساعت</h6>
                            <p>بدون سوال.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="service-box service-style-2">
                        <div class="icon">
                            <img src="/static/images/icons/service4.png" alt="Service">
                        </div>
                        <div class="content">
                            <h6 class="title">پشتیبانی کامل</h6>
                            <p>24/7 پشتیبان آنلاین است.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>
{% endblock %}
{% block scripts %}
    <script>
        function updateClock() {
            const now = new Date();
            const hours = String(now.getHours()).padStart(2, '0');
            const minutes = String(now.getMinutes()).padStart(2, '0');
            const seconds = String(now.getSeconds()).padStart(2, '0');
            document.getElementById('clock').textContent = `${hours}:${minutes}:${seconds}`;
        }

        setInterval(updateClock, 1000);
        updateClock();
    </script>
    <script src="/static/js/vendor/product_detail.js"></script>
    <script src="/static/lib/sweetalert/sweetalert2.all.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const categoryLinks = document.querySelectorAll('.shop-submenu ul li a');

            categoryLinks.forEach(link => {
                link.addEventListener('click', function (event) {
                    const selectedCategory = event.target.parentElement.innerHTML;

                    // بررسی اینکه آیا دسته‌بندی انتخاب شده در حال حاضر تیک خورده است یا خیر
                    if (event.target.parentElement.classList.contains('current-cat')) {
                        // اگر تیک خورده است، تیک را بردارید و از LocalStorage حذف کنید
                        event.target.parentElement.classList.remove('current-cat');
                        localStorage.removeItem('selectedCategory');
                    } else {
                        // اگر تیک نخورده است، تیک بزنید و در LocalStorage ذخیره کنید
                        localStorage.setItem('selectedCategory', selectedCategory);
                        event.target.parentElement.classList.add('current-cat');
                    }

                    // اینجا دیگر از event.preventDefault() استفاده نمی‌کنیم تا لینک بتواند به مقصد خود برود
                });
            });

            // بازیابی دسته‌بندی انتخاب شده
            const selectedCategory = localStorage.getItem('selectedCategory');
            if (selectedCategory) {
                categoryLinks.forEach(link => {
                    if (link.parentElement.innerHTML === selectedCategory) {
                        link.parentElement.classList.add('current-cat');
                    } else {
                        link.parentElement.classList.remove('current-cat');
                    }
                });
            }
        });

    </script>
{% endblock %}


