<div class="axil-shop-sidebar">
    <div class="d-lg-none">
        <button class="sidebar-close filter-close-btn"><i class="fas fa-times"></i></button>
    </div>
    <div class="toggle-list product-categories active">
        <h6 class="title">دسته بندی ها</h6>
        <div class="shop-submenu">
            <ul>
                {% for brand in brands %}
                    <li class="{% if brand.slug == selected_brand_slug %}current-cat{% endif %}">
                        <input type="checkbox" id="brand-{{ brand.slug }}" value="{{ brand.slug }}">
                        <label for="brand-{{ brand.slug }}">{{ brand.title }}</label>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <button id="apply-filters" class="axil-btn btn-bg-primary">اعمال فیلتر</button>
</div>