{% load poll_extras %}

<div class="modal fade quick-view-product" id="quick-view-modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i
                        class="far fa-times"></i></button>
            </div>
            <div class="modal-body">
                <div class="single-product-thumb">
                    <div class="row">
                        <div class="col-lg-7 mb--40">
                            <div class="row">
                                <div class="col-lg-10 order-lg-2">
                                    <div class="single-product-thumbnail product-large-thumbnail axil-product thumbnail-badge zoom-gallery slick-initialized slick-slider">
                                        <div class="slick-list">
                                            <div class="slick-track"
                                                 style="opacity: 1; width: 0px; transform: translate3d(0px, 0px, 0px);">
                                                <div class="thumbnail slick-slide slick-current slick-active"
                                                     data-slick-index="0" aria-hidden="false" tabindex="0"
                                                     style="width: 0px;">
                                                    <img src="/static/images/product/product-big-01.png"
                                                         alt="Product Images">
                                                    <div class="label-block label-right">
                                                        <div class="product-badget">20% تخفیف</div>
                                                    </div>
                                                    <div class="product-quick-view position-view">
                                                        <a href="/static/images/product/product-big-01.png"
                                                           class="popup-zoom" tabindex="0">
                                                            <i class="far fa-search-plus"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="thumbnail slick-slide" data-slick-index="1"
                                                     aria-hidden="true" tabindex="-1" style="width: 0px;">
                                                    <img src="/static/images/product/product-big-02.png"
                                                         alt="Product Images">
                                                    <div class="label-block label-right">
                                                        <div class="product-badget">20% تخفیف</div>
                                                    </div>
                                                    <div class="product-quick-view position-view">
                                                        <a href="/static/images/product/product-big-02.png"
                                                           class="popup-zoom" tabindex="-1">
                                                            <i class="far fa-search-plus"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="thumbnail slick-slide" data-slick-index="2"
                                                     aria-hidden="true" tabindex="-1" style="width: 0px;">
                                                    <img src="/static/images/product/product-big-03.png"
                                                         alt="Product Images">
                                                    <div class="label-block label-right">
                                                        <div class="product-badget">20% تخفیف</div>
                                                    </div>
                                                    <div class="product-quick-view position-view">
                                                        <a href="/static/images/product/product-big-03.png"
                                                           class="popup-zoom" tabindex="-1">
                                                            <i class="far fa-search-plus"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 order-lg-1">
                                    <div class="product-small-thumb small-thumb-wrapper slick-initialized slick-slider slick-vertical">
                                        <div class="slick-list draggable" style="height: 120px;">
                                            <div class="slick-track"
                                                 style="opacity: 1; height: 60px; transform: translate3d(0px, 0px, 0px);">
                                                <div class="small-thumb-img slick-slide slick-current slick-active"
                                                     data-slick-index="0" aria-hidden="false" tabindex="0"
                                                     style="width: 0px;">
                                                    <img src="/static/images/product/product-thumb/thumb-08.png"
                                                         alt="thumb image">
                                                </div>
                                                <div class="small-thumb-img slick-slide slick-active"
                                                     data-slick-index="1" aria-hidden="false" tabindex="0"
                                                     style="width: 0px;">
                                                    <img src="/static/images/product/product-thumb/thumb-07.png"
                                                         alt="thumb image">
                                                </div>
                                                <div class="small-thumb-img slick-slide slick-active"
                                                     data-slick-index="2" aria-hidden="false" tabindex="0"
                                                     style="width: 0px;">
                                                    <img src="/static/images/product/product-thumb/thumb-09.png"
                                                         alt="thumb image">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 mb--40">
                            <div class="single-product-content">
                                <div class="inner">
                                    <div class="product-rating">
                                        <div class="star-rating">
                                            <img src="/static/images/icons/rate.png" alt="Rate Images">
                                        </div>
                                        <div class="review-link">
                                            <a href="#">(<span>1</span> مشتری نظر)</a>
                                        </div>
                                    </div>
                                    <h3 class="product-title">هدفون بی سیم roco</h3>
                                    <span class="price-amount">155.000 - 255.000</span>
                                    <ul class="product-meta">
                                        <li><i class="fal fa-check"></i>موجود در انبار</li>
                                        <li><i class="fal fa-check"></i>ارسال رایگان</li>
                                        <li><i class="fal fa-check"></i>30% درصد تخفیف با: MOTIVE30</li>
                                    </ul>
                                    <p class="description">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت
                                        چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله
                                        در ستون و سطرآنچنان که لازم است، و برای </p>

                                    <div class="product-variations-wrapper">

                                        <!-- Start Product Variation  -->
                                        <div class="product-variation">
                                            <h6 class="title">رنگ ها:</h6>
                                            <div class="color-variant-wrapper">
                                                <ul class="color-variant mt--0">
                                                    <li class="color-extra-01 active"><span><span
                                                            class="color"></span></span>
                                                    </li>
                                                    <li class="color-extra-02"><span><span
                                                            class="color"></span></span>
                                                    </li>
                                                    <li class="color-extra-03"><span><span
                                                            class="color"></span></span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <!-- End Product Variation  -->

                                        <!-- Start Product Variation  -->
                                        <div class="product-variation">
                                            <h6 class="title">سایز:</h6>
                                            <ul class="range-variant">
                                                <li>xs</li>
                                                <li>s</li>
                                                <li>m</li>
                                                <li>l</li>
                                                <li>xl</li>
                                            </ul>
                                        </div>
                                        <!-- End Product Variation  -->

                                    </div>

                                    <!-- Start Product Action Wrapper  -->
                                    <div class="product-action-wrapper d-flex-center">
                                        <!-- Start Quentity Action  -->
                                        <div class="pro-qty"><span class="dec qtybtn">-</span><input type="text"
                                                                                                     value="1"><span
                                                class="inc qtybtn">+</span></div>
                                        <!-- End Quentity Action  -->

                                        <!-- Start Product Action  -->
                                        <ul class="product-action d-flex-center mb--0">
                                            <li class="add-to-cart"><a href="cart.html"
                                                                       class="axil-btn btn-bg-primary">اطلاعات
                                                بیشتر</a></li>
                                            <li class="wishlist"><a href="wishlist.html"
                                                                    class="axil-btn wishlist-btn"><i
                                                    class="far fa-heart"></i></a>
                                            </li>
                                        </ul>
                                        <!-- End Product Action  -->

                                    </div>
                                    <!-- End Product Action Wrapper  -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<head>
    <meta charset="UTF-8">
    <title>جستجو</title>
    <style>
        .header-search-modal {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 50%;
            height: 185px;
            background-color: #ffffff; /* رنگ پس زمینه سفید */
        }

        .header-search-wrap {
            width: 100%;
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
        }

        .card-header {
            margin-bottom: 20px;
        }

        .search-result-header {
            margin-top: 20px;
        }

        .input-group {
            display: flex;
        }

        .input-group input[type="search"] {
            flex-grow: 1;
        }

        .card-close {
            position: absolute;
            top: 10px;
            right: 10px;
            border: none;
            font-size: 20px;
            cursor: pointer;
        }
    </style>
</head>
<body>
<div class="header-search-modal" id="header-search-modal">
    <button class="card-close sidebar-close"><i class="fas fa-times"></i></button>
    <div class="header-search-wrap">
        <!-- فرم جستجو -->
        <div class="card-header">
            <form method="post" action="{% url 'home' %}">
                {% csrf_token %}
                <div class="input-group">
                    <input type="search" class="form-control" name="prod-search" id="prod-search"
                           placeholder="بنویسید ...">
                    <button type="submit" class="axil-btn btn-bg-primary"><i class="far fa-search"></i></button>
                </div>
            </form>
        </div>
        <!-- نتیجه جستجو -->
        <div class="search-result-header">
            <a href="{% url 'product-list' %}" class="view-all">نمایش همه محصولات</a>
        </div>
    </div>
</div>
</body>
</html>

{% if cart.cartdetailmodel_set.all %}
    <div class="cart-dropdown" id="cart-dropdown">
        <div class="cart-content-wrap">
            <div class="cart-header">
                <h2 class="header-title">سبد خرید شما</h2>
                <button class="cart-close sidebar-close"><i class="fas fa-times"></i></button>
            </div>
            <div class="cart-body">
                <ul class="cart-item-list">
                    {% for detail in cart.cartdetailmodel_set.all %}
                        <li class="cart-item">
                            <div class="item-img">
                                <a href="{% url 'product_detail' detail.product.slug %}"
                                   style="max-width: 100%; max-height: 150px; object-fit: contain; display: flex; justify-content: center; align-items: center;"><img
                                        style="max-width: 100%; max-height: 150px; object-fit: contain; display: flex; justify-content: center; align-items: center;"
                                        src="{{ detail.product.mainimage.url }}"
                                        alt="Commodo Blown Lamp"></a>
                                <button onclick="delete_detail({{ detail.product.id }})" class="close-btn"><i
                                        class="fas fa-times"></i></button>
                            </div>
                            <div class="item-content">
                                <div class="product-rating">
                                <span class="icon">
                                    {% if detail.product.rating_avg == 0 %}
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                    {% elif detail.product.rating_avg == 1 %}
                                        <i class="fas fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                    {% elif detail.product.rating_avg == 2 %}
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                    {% elif detail.product.rating_avg == 3 %}
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                    {% elif detail.product.rating_avg == 4 %}
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="far fa-star"></i>
                                    {% elif detail.product.rating_avg == 5 %}
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    {% endif %}
                                </span>
                                    <span class="rating-number">{{ detail.product.productcommentmodel_set.count }} نظر</span>
                                </div>
                                <h3 class="item-title"><a
                                        href="{% url 'product_detail' detail.product.slug %}">{{ detail.product.title }}</a>
                                </h3>
                                {% if detail.product.price %}
                                    <div class="item-price">{{ detail.final_price|digits }}<span
                                            class="currency-symbol"> تومان</span></div>
                                {% else %}
                                    <div class="item-price"><span
                                            class="currency-symbol">رایگان</span></div>
                                {% endif %}
                                <div class="pro-qty item-quantity"><a
                                        onclick="change_count2({{ detail.product.id }}, 'neg')"
                                        class="dec qtybtn">-</a>
                                    <input type="number" class="quantity-input" value="{{ detail.product.count }}">
                                    <a onclick="change_count2({{ detail.product.id }}, 'pos')"
                                       class="inc qtybtn">+</a></div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="cart-footer">
                <h3 class="cart-subtotal">
                    <span class="subtotal-title">مجموع:</span>
                    <span class="subtotal-amount">{{ cart.sum_basket|digits }} تومان</span>
                </h3>
                <div class="group-btn">
                    <a href="{% url 'basket' %}" class="axil-btn btn-bg-primary">نمایش سبد خرید</a>
                </div>
            </div>
        </div>
    </div>
{% else %}
    <div class="cart-dropdown" id="cart-dropdown">
        <div class="cart-content-wrap">
            <div class="cart-header">
                <h2 class="header-title">سبد خرید شما</h2>
                <button class="cart-close sidebar-close"><i class="fas fa-times"></i></button>
            </div>
            <div class="alert alert-danger text-center" style="width: 70%;margin: 70px auto">سبد خرید خالی است</div>
            <div class="cart-footer">
                <div class="group-btn">
                    <a href="{% url 'basket' %}" class="axil-btn btn-bg-primary">نمایش سبد خرید</a>
                </div>
            </div>
        </div>
    </div>
{% endif %}
<div class="offer-popup-modal" id="offer-popup-modal">
    <div class="offer-popup-wrap">
        <div class="card-body">
            <button class="popup-close"><i class="fas fa-times"></i></button>
            <div class="content">
                <div class="section-title-wrapper">
                        <span class="title-highlighter highlighter-primary"> <i class="far fa-shopping-basket"></i>
                            از دست ندهید !!!</span>
                    <h3 class="title">بهترین پیشنهاد فروش<br> مال شماست</h3>
                </div>
                <div class="poster-countdown countdown">
                    <div class="countdown-section">
                        <div>
                            <div class="countdown-number">0</div>
                            <div class="countdown-unit">روز</div>
                        </div>
                    </div>
                    <div class="countdown-section">
                        <div>
                            <div class="countdown-number">00</div>
                            <div class="countdown-unit">ساعت</div>
                        </div>
                    </div>
                    <div class="countdown-section">
                        <div>
                            <div class="countdown-number">00</div>
                            <div class="countdown-unit">دقیقه</div>
                        </div>
                    </div>
                    <div class="countdown-section">
                        <div>
                            <div class="countdown-number">00</div>
                            <div class="countdown-unit">ثانیه</div>
                        </div>
                    </div>
                </div>
                <a href="shop.html" class="axil-btn btn-bg-primary">خرید کنید <i
                        class="fal fa-long-arrow-right"></i></a>
            </div>
        </div>
    </div>
</div>
{% block scripts %}
    <script src="/static/js/vendor/basket.js"></script>
{% endblock %}