<script src="/static/js/vendor/modernizr.min.js"></script>
<!-- jQuery JS -->
<script src="/static/js/vendor/jquery.js"></script>
<!-- Bootstrap JS -->
<script src="/static/js/vendor/popper.min.js"></script>
<script src="/static/js/vendor/bootstrap.min.js"></script>
<script src="/static/js/vendor/slick.min.js"></script>
<script src="/static/js/vendor/js.cookie.js"></script>
<!-- <script src="/static/js/vendor/jquery.style.switcher.js"></script> -->
<script src="/static/js/vendor/jquery-ui.min.js"></script>
<script src="/static/js/vendor/jquery.countdown.min.js"></script>
<script src="/static/js/vendor/sal.js"></script>
<script src="/static/js/vendor/jquery.magnific-popup.min.js"></script>
<script src="/static/js/vendor/imagesloaded.pkgd.min.js"></script>
<script src="/static/js/vendor/isotope.pkgd.min.js"></script>
<script src="/static/js/vendor/counterup.js"></script>
<script src="/static/js/vendor/waypoints.min.js"></script>

<!-- Main JS -->
<script src="/static/js/rtl-main.js"></script>
