<header class="header axil-header header-style-5">
    <div class="axil-header-top">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-sm-6 col-12">
                    <div class="header-top-link">
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6 col-12">
                    <div class="header-top-link">
                        <ul class="quick-link">
                            {% if request.user.is_authenticated %}
                                <li><a href="{% url 'contact-us' %}">ارتباط با ما</a></li>
                                <li><a href="{% url 'logout' %}">خروج</a></li>
                            {% else %}
                                <li><a href="{% url 'contact-us' %}">ارتباط با ما</a></li>
                                <li><a href="{% url 'register' %}">ثبت نام</a></li>
                                <li><a href="{% url 'login' %}">ورود</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Start Mainmenu Area  -->
    <div id="axil-sticky-placeholder"></div>
    <div class="axil-mainmenu">
        <div class="container">
            <div class="header-navbar">
                <div class="header-brand">
                    <a href="{% url 'home' %}" class="logo logo-dark"
                       style="text-align: center;width: 80px;height: max-content">
                        <img src="{{ settings.logo.url }}" alt="Site Logo">
                    </a>
                    <a href="{% url 'home' %}" class="logo logo-light">
                        <img src="/static/images/logo/logo-light.png" alt="Site Logo">
                    </a>
                </div>
                <div class="header-main-nav">
                    <!-- Start Mainmanu Nav -->
                    <nav class="mainmenu-nav">
                        <button class="mobile-close-btn mobile-nav-toggler"><i class="fas fa-times"></i></button>
                        <div class="mobile-nav-brand">
                            <a href="{% url 'home' %}" class="logo">
                                <img src="/static/images/logo/logo.png" alt="Site Logo">
                            </a>
                        </div>
                        <ul class="mainmenu">
                            <li>
                                <a href="{% url 'home' %}">خانه</a>
                            </li>
                            <li>
                                <a href="{% url 'product-list' %}">فروشگاه</a>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="#">صفحه ها</a>
                                <ul class="axil-submenu">
                                    <li><a href="{% url 'wish' %}">علاقه مندی ها</a></li>
                                    <li><a href="{% url 'basket' %}">سبد خرید</a></li>
                                    {% if request.user.is_authenticated %}
                                        <li><a href="{% url 'main-dash' %}">پروفایل من</a></li>
                                    {% else %}
                                        <li><a href="{% url 'login' %}">پروفایل من</a></li>
                                    {% endif %}
                                    {% if not request.user.is_authenticated %}
                                        <li><a href="{% url 'register' %}">ثبت نام</a></li>
                                        <li><a href="{% url 'login' %}">ورود</a></li>
                                        <li><a href="{% url 'forget-password' %}">فراموشی رمز عبور</a></li>
                                    {% endif %}
                                    <li><a href="{% url 'questions' %}">سوالات متداول</a></li>
                                </ul>
                            </li>
                            <li><a href="{% url 'about-us' %}">درباه ما</a></li>
                            <li>
                                <a href="{% url 'blog-list' %}">وبلاگ</a>
                            </li>
                            <li><a href="{% url 'contact-us' %}">ارتباط با ما</a></li>
                        </ul>
                    </nav>
                    <!-- End Mainmanu Nav -->
                </div>
                <div class="header-action">
                    <ul class="action-list">
                        <form method="post" action="{% url 'home' %}">
                            {% csrf_token %}
                            <li class="axil-search d-xl-block d-none">
                                <input type="search" class="placeholder product-search-input" name="search2"
                                       id="search2" value="" maxlength="128" placeholder="دنبال چه هستید؟؟"
                                       autocomplete="off">
                                <button type="submit" class="icon wooc-btn-search">
                                    <i class="flaticon-magnifying-glass"></i>
                                </button>
                            </li>
                        </form>
                        <li class="axil-search d-xl-none d-block">
                            <a href="javascript:void(0)" class="header-search-icon" title="Search">
                                <i class="flaticon-magnifying-glass"></i>
                            </a>
                        </li>
                        <li class="wishlist">
                            <a href="{% url 'wish' %}">
                                <i class="flaticon-heart"></i>
                            </a>
                        </li>
                        <li class="shopping-cart">
                            <a href="{% url 'basket' %}" class="cart-dropdown-btn">
                                {% for detail in cart.cartdetailmodel_set.all %}
                                    <span class="cart-count">{{ cart.detail_count }}</span>
                                {% endfor %}
                                <i class="flaticon-shopping-cart"></i>
                            </a>
                        </li>
                        <li class="my-account">
                            <a href="javascript:void(0)">
                                <i class="flaticon-person"></i>
                            </a>
                            {% if request.user.is_authenticated %}
                                <div class="my-account-dropdown">
                                    <span class="title">دسترسی سریع</span>
                                    <ul>
                                        <li>
                                            <a href="{% url 'main-dash' %}">پروفایل من</a>
                                        </li>
                                        <li>
                                            <a href="{% url 'basket' %}">سبد خرید</a>
                                        </li>
                                        <li>
                                            <a href="{% url 'wish' %}">علاقه مندی ها</a>
                                        </li>
                                        <li>
                                            <a href="{% url 'questions' %}">سوالات متداول</a>
                                        </li>
                                        <li>
                                            <a href="{% url 'contact-us' %}">ارتباط با ما</a>
                                        </li>
                                    </ul>
                                    {% else %}
                                    <div class="my-account-dropdown">
                                        <span class="title">دسترسی سریع</span>
                                        <ul>
                                            <li>
                                                <a href="{% url 'login' %}">پروفایل من</a>
                                            </li>
                                            <li>
                                                <a href="{% url 'questions' %}">سوالات متداول</a>
                                            </li>
                                            <li>
                                                <a href="{% url 'contact-us' %}">ارتباط با ما</a>
                                            </li>
                                        </ul>
                                        <div class="login-btn">
                                            <a href="{% url 'login' %}" class="axil-btn btn-bg-primary">ورود</a>
                                        </div>
                                        <div class="reg-footer text-center">ثبت نام نکرده اید؟ <a
                                                href="{% url 'register' %}"
                                                class="btn-link">ثبت نام.</a>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </li>
                        <li class="axil-mobile-toggle" style="list-style: none;">
                            <button class="menu-btn mobile-nav-toggler">
                                <i class="flaticon-menu-2"></i>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Mainmenu Area -->
</header>
{% block scripts %}
    <script src="/static/js/vendor/basket.js"></script>
{% endblock %}