{% extends 'layout.html' %}
{% load poll_extras %}


{% block title %}
    خانه
{% endblock %}
{% block links %}
    <link rel="stylesheet" href="/static/lib/sweetalert/sweetalert2.min.css">
    <link rel="stylesheet" href="/static/lib/ratingJs/star-rating.min.css">
    <link rel="stylesheet" href="/static/css/product-comment.css">
{% endblock %}
{% block content %}
    <body class="sticky-header newsletter-popup-modal">

    <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a
            href="https://browsehappy.com/">upgrade
        your browser</a> to improve your experience and security.</p>
    <![endif]-->
    <a href="#top" class="back-to-top" id="backto-top"><i class="fal fa-arrow-up"></i></a>

    <main class="main-wrapper">
        <div class="axil-main-slider-area main-slider-style-1">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-5 col-sm-6">
                        <div class="main-slider-content">
                            <div class="slider-content-activation-one">
                                {% for slide in sliders %}
                                    <div class="single-slide slick-slide" data-sal="slide-up" data-sal-delay="400"
                                         data-sal-duration="800" {% if forloop.first %}active{% endif %}>
                                        <span class="subtitle"><i class="fas fa-fire"></i> محبوب ترین ها</span>
                                        <h1 class="title">{{ slide.title }}</h1>
                                        <div class="slide-action">
                                            <div class="shop-btn">
                                                <a href="{{ slilde.link }}" class="axil-btn btn-bg-white"><i
                                                        class="fal fa-shopping-cart"></i>خرید کردن</a>
                                            </div>
                                            <div class="item-rating">
                                                <div class="thumb">
                                                    <ul>
                                                        <li><img src="/static/images/others/author1.png" alt="Author">
                                                        </li>
                                                        <li><img src="/static/images/others/author2.png" alt="Author">
                                                        </li>
                                                        <li><img src="/static/images/others/author3.png" alt="Author">
                                                        </li>
                                                        <li><img src="/static/images/others/author4.png" alt="Author">
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="content">
                                                <span class="rating-icon">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fal fa-star"></i>
                                                </span>
                                                    <span class="review-text">
                                                    <span>100+</span> نظر
                                                </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 col-sm-6">
                        <div class="main-slider-large-thumb">
                            <div class="slider-thumb-activation-one axil-slick-dots">
                                {% for slide in sliders %}
                                    <div class="single-slide slick-slide" data-sal="slide-up" data-sal-delay="600"
                                         data-sal-duration="1500">
                                        <img src="{{ slide.image.url }}">
                                        <div class="product-price">
                                            <span class="text">شروع از</span>
                                            <span class="price-amount">150.000</span>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="shape-group">
                <li class="shape-1"><img src="/static/images/others/shape-1.png" alt="Shape"></li>
                <li class="shape-2"><img src="/static/images/others/shape-2.png" alt="Shape"></li>
            </ul>
        </div>

        <!-- Start Categorie Area  -->
        <div class="axil-categorie-area bg-color-white axil-section-gapcommon">
            <div class="container">
                <div class="section-title-wrapper">
                    <span class="title-highlighter highlighter-secondary"> <i class="far fa-tags"></i> دسته بندی
                        ها</span>
                    <h2 class="title">دسته بندی ها</h2>
                </div>
                <div class="categrie-product-activation slick-layout-wrapper--15 axil-slick-arrow  arrow-top-slide">
                    {% for item in category %}
                        <div class="slick-single-layout">
                            <div class="categrie-product" data-sal="zoom-out" data-sal-delay="200"
                                 data-sal-duration="500">
                                <a href="#">
                                    <img class="img-fluid" src="{{ item.image.url }}"
                                         alt="product categorie">
                                    <h6 class="cat-title">{{ item.title }}</h6>
                                </a>
                            </div>
                            <!-- End .categrie-product -->
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- End Categorie Area  -->

        <!-- Start Expolre Product Area  -->
        <div class="axil-product-area bg-color-white axil-section-gap">
            <div class="container">
                <div class="section-title-wrapper">
                    <span class="title-highlighter highlighter-primary"> <i class="far fa-shopping-basket"></i>محصولات پربازدید</span>
                    <h2 class="title">محصولات براساس بیشترین بازدید</h2>
                </div>
                <div
                        class="explore-product-activation slick-layout-wrapper slick-layout-wrapper--15 axil-slick-arrow arrow-top-slide">
                    <div class="slick-single-layout">
                        <div class="row row--15">
                            {% for item in visited_product %}
                                <!-- End Single Product  -->
                                <div class="col-xl-3 col-lg-4 col-sm-6 col-12 mb--30">
                                    <div class="axil-product product-style-one">
                                        <div class="thumbnail">
                                            <a href="{% url 'product_detail' item.slug %}"
                                               style="text-align: center;width: 300px;height: 300px">
                                                <img data-sal="zoom-out" data-sal-delay="300" data-sal-duration="800"
                                                     loading="lazy" src="{{ item.mainimage.url }}"
                                                     alt="Product Images">
                                                <img class="hover-img"
                                                     src="{{ item.mainimage.url }}"
                                                     alt="Product Images">
                                            </a>
                                            {% if item.discount %}
                                                <div class="label-block label-right">
                                                    <div class="product-badget">{{ product.get_discount_display }}
                                                        تخفیف
                                                    </div>
                                                </div>
                                            {% endif %}
                                            <div class="product-hover-action">
                                                <ul class="cart-action">
                                                    <li class="quickview"><a href="#" data-bs-toggle="modal"
                                                                             data-bs-target="#quick-view-modal"><i
                                                            class="far fa-eye"></i></a></li>
                                                    <li class="select-option"><a
                                                            href="{% url 'product_detail' item.slug %}">اطلاعات
                                                        بیشتر</a></li>
                                                    {% if request.user.is_authenticated %}
                                                        <li class="wishlist"><a onclick="add_to_wish({{ item.id }})"
                                                                                href="#"><i
                                                                class="far fa-heart"></i></a></li>
                                                    {% else %}
                                                        <li class="wishlist"><a onclick="add_to_wish({{ item.id }})"
                                                                                href="{% url 'login' %}"><i
                                                                class="far fa-heart"></i></a></li>
                                                    {% endif %}
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <div class="inner">
                                                <h5 class="title"><a href="{% url 'product_detail' item.slug %}">{{ item.title }}</a>
                                                </h5>
                                                {% if item.count and item.price %}
                                                    <div class="product-price-variant">
                                                        <span class="price current-price">{{ item.final_price|digits }} تومان</span>
                                                        {% if item.discount %}
                                                            <span class="price old-price">{{ item.price|digits }}</span>
                                                        {% endif %}
                                                    </div>
                                                {% elif item.count and item.price is None %}
                                                    <div class="product-price-variant">
                                                        <span class="price current-price">رایگان</span>
                                                    </div>
                                                {% else %}
                                                    <div class="product-price-variant">
                                                        <span class="price current-price">ناموجود</span>
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Product  -->
                            {% endfor %}

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 text-center mt--20 mt_sm--0">
                        <a href="shop.html" class="axil-btn btn-bg-lighter btn-load-more">نمایش تمام محصولات</a>
                    </div>
                </div>

            </div>
        </div>
        <!-- End Expolre Product Area  -->

        <!-- Start Testimonila Area  -->
        <div class="axil-testimoial-area axil-section-gap bg-vista-white">
            <div class="container">
                <div class="section-title-wrapper">
                    <span class="title-highlighter highlighter-secondary"> <i class="fal fa-quote-left"></i>نظرات</span>
                    <h2 class="title">نظرات کاربران</h2>
                </div>
                <!-- End .section-title -->
                <div
                        class="testimonial-slick-activation testimonial-style-one-wrapper slick-layout-wrapper--20 axil-slick-arrow arrow-top-slide">
                    {% for comment in comments %}
                    	<div class="slick-single-layout testimonial-style-one">
                        <div class="review-speech">
                            <p>{{ comment.text }}</p>
                        </div>
                        <div class="media">
                            <div class="media-body">
                                <span class="designation">کاربر</span>
                                <h6 class="title">{{ comment.user.first_name }} {{ comment.user.last_name }}</h6>
                            </div>
                        </div>
                        <!-- End .thumbnail -->
                    </div>
                    {% endfor %}

                </div>
            </div>
        </div>
        <!-- End Testimonila Area  -->

        <!-- Start New Arrivals Product Area  -->
        <div class="axil-new-arrivals-product-area bg-color-white axil-section-gap pb--0">
            <div class="container">
                <div class="product-area pb--50">
                    <div class="section-title-wrapper">
                        <span class="title-highlighter highlighter-primary"><i class="far fa-shopping-basket"></i>این
                            هفته</span>
                        <h2 class="title">تخفیف های ویژه</h2>
                    </div>
                    <div
                            class="new-arrivals-product-activation slick-layout-wrapper--30 axil-slick-arrow  arrow-top-slide">
                        <div class="slick-single-layout">
                            <div class="axil-product product-style-two">
                                <div class="thumbnail">
                                    <a href="single-product.html">
                                        <img data-sal="zoom-out" data-sal-delay="200" data-sal-duration="500"
                                             src="/static/images/product/electric/product-05.png" alt="Product Images">
                                    </a>
                                    <div class="label-block label-right">
                                        <div class="product-badget">10% تخفیف</div>
                                    </div>
                                </div>
                                <div class="product-content">
                                    <div class="inner">
                                        <div class="color-variant-wrapper">
                                            <ul class="color-variant">
                                                <li class="color-extra-01 active"><span><span
                                                        class="color"></span></span>
                                                </li>
                                                <li class="color-extra-02"><span><span class="color"></span></span>
                                                </li>
                                                <li class="color-extra-03"><span><span class="color"></span></span>
                                                </li>
                                            </ul>
                                        </div>
                                        <h5 class="title"><a href="single-product.html">دستیار صوتی آمازون</a></h5>
                                        <div class="product-price-variant">
                                            <span class="price old-price">250.000</span>
                                            <span class="price current-price">100.000</span>
                                        </div>
                                        <div class="product-hover-action">
                                            <ul class="cart-action">
                                                <li class="quickview"><a href="#" data-bs-toggle="modal"
                                                                         data-bs-target="#quick-view-modal"><i
                                                        class="far fa-eye"></i></a></li>
                                                <li class="select-option"><a href="single-product.html">اطلاعات
                                                    بیشتر</a>
                                                </li>
                                                <li class="wishlist"><a href="wishlist.html"><i
                                                        class="far fa-heart"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End .slick-single-layout -->
                        <div class="slick-single-layout">
                            <div class="axil-product product-style-two">
                                <div class="thumbnail">
                                    <a href="single-product.html">
                                        <img data-sal="zoom-out" data-sal-delay="300" data-sal-duration="500"
                                             src="/static/images/product/electric/product-06.png" alt="Product Images">
                                    </a>
                                </div>
                                <div class="product-content">
                                    <div class="inner">
                                        <div class="color-variant-wrapper">
                                            <ul class="color-variant">
                                                <li class="color-extra-01 active"><span><span
                                                        class="color"></span></span>
                                                </li>
                                                <li class="color-extra-02"><span><span class="color"></span></span>
                                                </li>
                                                <li class="color-extra-03"><span><span class="color"></span></span>
                                                </li>
                                            </ul>
                                        </div>
                                        <h5 class="title"><a href="single-product.html">گوگل هوم</a></h5>
                                        <div class="product-price-variant">
                                            <span class="price old-price">200.000</span>
                                            <span class="price current-price">100.000</span>
                                        </div>
                                    </div>
                                    <div class="product-hover-action">
                                        <ul class="cart-action">
                                            <li class="quickview"><a href="#" data-bs-toggle="modal"
                                                                     data-bs-target="#quick-view-modal"><i
                                                    class="far fa-eye"></i></a>
                                            </li>
                                            <li class="select-option"><a href="single-product.html">اطلاعات بیشتر</a>
                                            </li>
                                            <li class="wishlist"><a href="wishlist.html"><i
                                                    class="far fa-heart"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End .slick-single-layout -->
                        <div class="slick-single-layout">
                            <div class="axil-product product-style-two">
                                <div class="thumbnail">
                                    <a href="single-product.html">
                                        <img data-sal="zoom-out" data-sal-delay="400" data-sal-duration="500"
                                             src="/static/images/product/electric/product-07.png" alt="Product Images">
                                    </a>
                                    <div class="label-block label-right">
                                        <div class="product-badget">15% تخفیف</div>
                                    </div>

                                </div>
                                <div class="product-content">
                                    <div class="inner">
                                        <div class="color-variant-wrapper">
                                            <ul class="color-variant">
                                                <li class="color-extra-01 active"><span><span
                                                        class="color"></span></span>
                                                </li>
                                                <li class="color-extra-02"><span><span class="color"></span></span>
                                                </li>
                                                <li class="color-extra-03"><span><span class="color"></span></span>
                                                </li>
                                            </ul>
                                        </div>
                                        <h5 class="title"><a href="single-product.html">کنترلر نتفلیکس</a></h5>
                                        <div class="product-price-variant">
                                            <span class="price old-price">500.000</span>
                                            <span class="price current-price">250.000</span>
                                        </div>
                                        <div class="product-hover-action">
                                            <ul class="cart-action">
                                                <li class="quickview"><a href="#" data-bs-toggle="modal"
                                                                         data-bs-target="#quick-view-modal"><i
                                                        class="far fa-eye"></i></a></li>
                                                <li class="select-option"><a href="single-product.html">اطلاعات
                                                    بیشتر</a>
                                                </li>
                                                <li class="wishlist"><a href="wishlist.html"><i
                                                        class="far fa-heart"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End .slick-single-layout -->
                        <div class="slick-single-layout">
                            <div class="axil-product product-style-two">
                                <div class="thumbnail">
                                    <a href="single-product.html">
                                        <img data-sal="zoom-out" data-sal-delay="500" data-sal-duration="500"
                                             src="/static/images/product/electric/product-08.png" alt="Product Images">
                                    </a>
                                    <div class="label-block label-right">
                                        <div class="product-badget">30% تخفیف</div>
                                    </div>

                                </div>
                                <div class="product-content">
                                    <div class="inner">
                                        <div class="color-variant-wrapper">
                                            <ul class="color-variant">
                                                <li class="color-extra-01 active"><span><span
                                                        class="color"></span></span>
                                                </li>
                                                <li class="color-extra-02"><span><span class="color"></span></span>
                                                </li>
                                                <li class="color-extra-03"><span><span class="color"></span></span>
                                                </li>
                                            </ul>
                                        </div>
                                        <h5 class="title"><a href="single-product.html">اکسسوری دیجیتال</a></h5>
                                        <div class="product-price-variant">
                                            <span class="price old-price">200.000</span>
                                            <span class="price current-price">150.000</span>
                                        </div>
                                        <div class="product-hover-action">
                                            <ul class="cart-action">
                                                <li class="quickview"><a href="#" data-bs-toggle="modal"
                                                                         data-bs-target="#quick-view-modal"><i
                                                        class="far fa-eye"></i></a></li>
                                                <li class="select-option"><a href="single-product.html">اطلاعات
                                                    بیشتر</a>
                                                </li>
                                                <li class="wishlist"><a href="wishlist.html"><i
                                                        class="far fa-heart"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End .slick-single-layout -->
                        <div class="slick-single-layout">
                            <div class="axil-product product-style-two">
                                <div class="thumbnail">
                                    <a href="single-product.html">
                                        <img data-sal="zoom-out" data-sal-delay="100" data-sal-duration="500"
                                             src="/static/images/product/electric/product-04.png" alt="Product Images">
                                    </a>
                                    <div class="label-block label-right">
                                        <div class="product-badget">50% تخفیف</div>
                                    </div>
                                </div>
                                <div class="product-content">
                                    <div class="inner">
                                        <div class="color-variant-wrapper">
                                            <ul class="color-variant">
                                                <li class="color-extra-01 active"><span><span
                                                        class="color"></span></span>
                                                </li>
                                                <li class="color-extra-02"><span><span class="color"></span></span>
                                                </li>
                                                <li class="color-extra-03"><span><span class="color"></span></span>
                                                </li>
                                            </ul>
                                        </div>
                                        <h5 class="title"><a href="single-product.html">کنترلر پلی استیشن 5</a></h5>
                                        <div class="product-price-variant">
                                            <span class="price old-price">500.000</span>
                                            <span class="price current-price">250.000</span>
                                        </div>
                                        <div class="product-hover-action">
                                            <ul class="cart-action">
                                                <li class="quickview"><a href="#" data-bs-toggle="modal"
                                                                         data-bs-target="#quick-view-modal"><i
                                                        class="far fa-eye"></i></a></li>
                                                <li class="select-option"><a href="single-product.html">اطلاعات
                                                    بیشتر</a>
                                                </li>
                                                <li class="wishlist"><a href="wishlist.html"><i
                                                        class="far fa-heart"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End .slick-single-layout -->
                    </div>
                </div>
            </div>
        </div>
        <!-- End New Arrivals Product Area  -->

        <!-- Start Most Sold Product Area  -->
        <div class="axil-most-sold-product axil-section-gap">
            <div class="container">
                <div class="product-area pb--50">
                    <div class="section-title-wrapper section-title-center">
                        <span class="title-highlighter highlighter-primary"><i class="fas fa-star"></i> پرفروش ها</span>
                        <h2 class="title">پرفروش های فروشگاه eTrade</h2>
                    </div>
                    <div class="row row-cols-xl-2 row-cols-1 row--15">
                        <div class="col">
                            <div class="axil-product-list">
                                <div class="thumbnail">
                                    <a href="single-product.html">
                                        <img data-sal="zoom-in" data-sal-delay="100" data-sal-duration="1500"
                                             src="/static/images/product/electric/product-09.png"
                                             alt="Yantiti Leather Bags">
                                    </a>
                                </div>
                                <div class="product-content">
                                    <div class="product-rating">
                                        <span class="rating-icon">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fal fa-star"></i>
                                        </span>
                                        <span class="rating-number"><span>100+</span> نظر</span>
                                    </div>
                                    <h6 class="product-title"><a href="single-product.html">کنترلر نتفلیکس</a></h6>
                                    <div class="product-price-variant">
                                        <span class="price current-price">150.000</span>
                                        <span class="price old-price">200.000</span>
                                    </div>
                                    <div class="product-cart">
                                        <a href="{% url 'basket' %}" class="cart-btn"><i
                                                class="fal fa-shopping-cart"></i></a>
                                        <a href="wishlist.html" class="cart-btn"><i class="fal fa-heart"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="axil-product-list">
                                <div class="thumbnail">
                                    <a href="single-product.html">
                                        <img data-sal="zoom-in" data-sal-delay="200" data-sal-duration="1500"
                                             src="/static/images/product/electric/product-10.png"
                                             alt="Yantiti Leather Bags">
                                    </a>
                                </div>
                                <div class="product-content">
                                    <div class="product-rating">
                                        <span class="rating-icon">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fal fa-star"></i>
                                        </span>
                                        <span class="rating-number"><span>50+</span> نظر</span>
                                    </div>
                                    <h6 class="product-title"><a href="single-product.html">دوربین HD</a></h6>
                                    <div class="product-price-variant">
                                        <span class="price current-price">150.000</span>
                                    </div>
                                    <div class="product-cart">
                                        <a href="{% url 'basket' %}" class="cart-btn"><i
                                                class="fal fa-shopping-cart"></i></a>
                                        <a href="wishlist.html" class="cart-btn"><i class="fal fa-heart"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="axil-product-list">
                                <div class="thumbnail">
                                    <a href="single-product.html">
                                        <img data-sal="zoom-in" data-sal-delay="300" data-sal-duration="1500"
                                             src="/static/images/product/electric/product-11.png"
                                             alt="Yantiti Leather Bags">
                                    </a>
                                </div>
                                <div class="product-content">
                                    <div class="product-rating">
                                        <span class="rating-icon">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fal fa-star"></i>
                                        </span>
                                        <span class="rating-number"><span>120+</span> نظر</span>
                                    </div>
                                    <h6 class="product-title"><a href="single-product.html">کنترلر بازی</a></h6>
                                    <div class="product-price-variant">
                                        <span class="price current-price">250.000</span>
                                    </div>
                                    <div class="product-cart">
                                        <a href="{% url 'basket' %}" class="cart-btn"><i
                                                class="fal fa-shopping-cart"></i></a>
                                        <a href="wishlist.html" class="cart-btn"><i class="fal fa-heart"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="axil-product-list">
                                <div class="thumbnail">
                                    <a href="single-product.html">
                                        <img data-sal="zoom-in" data-sal-delay="400" data-sal-duration="1500"
                                             src="/static/images/product/electric/product-12.png"
                                             alt="Yantiti Leather Bags">
                                    </a>
                                </div>
                                <div class="product-content">
                                    <div class="product-rating">
                                        <span class="rating-icon">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fal fa-star"></i>
                                        </span>
                                        <span class="rating-number"><span>30+</span> نظر</span>
                                    </div>
                                    <h6 class="product-title"><a href="single-product.html">گیره مانیتور </a></h6>
                                    <div class="product-price-variant">
                                        <span class="price current-price">75.000</span>
                                    </div>
                                    <div class="product-cart">
                                        <a href="{% url 'basket' %}" class="cart-btn"><i
                                                class="fal fa-shopping-cart"></i></a>
                                        <a href="wishlist.html" class="cart-btn"><i class="fal fa-heart"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="axil-product-list">
                                <div class="thumbnail">
                                    <a href="single-product.html">
                                        <img data-sal="zoom-in" data-sal-delay="500" data-sal-duration="1500"
                                             src="/static/images/product/electric/product-13.png"
                                             alt="Yantiti Leather Bags">
                                    </a>
                                </div>
                                <div class="product-content">
                                    <div class="product-rating">
                                        <span class="rating-icon">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fal fa-star"></i>
                                        </span>
                                        <span class="rating-number"><span>700+</span> نظر</span>
                                    </div>
                                    <h6 class="product-title"><a href="single-product.html">لپ تاپ لنوو</a></h6>
                                    <div class="product-price-variant">
                                        <span class="price current-price">26.000.000</span>
                                    </div>
                                    <div class="product-cart">
                                        <a href="{% url 'basket' %}" class="cart-btn"><i
                                                class="fal fa-shopping-cart"></i></a>
                                        <a href="wishlist.html" class="cart-btn"><i class="fal fa-heart"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="axil-product-list">
                                <div class="thumbnail">
                                    <a href="single-product.html">
                                        <img data-sal="zoom-in" data-sal-delay="600" data-sal-duration="1500"
                                             src="/static/images/product/electric/product-14.png"
                                             alt="Yantiti Leather Bags">
                                    </a>
                                </div>
                                <div class="product-content">
                                    <div class="product-rating">
                                        <span class="rating-icon">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fal fa-star"></i>
                                        </span>
                                        <span class="rating-number"><span>300+</span> نظر</span>
                                    </div>
                                    <h6 class="product-title"><a href="single-product.html">آبمیوه گیر</a>
                                    </h6>
                                    <div class="product-price-variant">
                                        <span class="price current-price">750.000</span>
                                    </div>
                                    <div class="product-cart">
                                        <a href="{% url 'basket' %}" class="cart-btn"><i
                                                class="fal fa-shopping-cart"></i></a>
                                        <a href="wishlist.html" class="cart-btn"><i class="fal fa-heart"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="axil-product-list">
                                <div class="thumbnail">
                                    <a href="single-product.html">
                                        <img data-sal="zoom-in" data-sal-delay="400" data-sal-duration="1500"
                                             src="/static/images/product/electric/product-15.png"
                                             alt="Yantiti Leather Bags">
                                    </a>
                                </div>
                                <div class="product-content">
                                    <div class="product-rating">
                                        <span class="rating-icon">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fal fa-star"></i>
                                        </span>
                                        <span class="rating-number"><span>100+</span> نظر</span>
                                    </div>
                                    <h6 class="product-title"><a href="single-product.html">هدفون بی سیم</a></h6>
                                    <div class="product-price-variant">
                                        <span class="price current-price">650.000</span>
                                    </div>
                                    <div class="product-cart">
                                        <a href="{% url 'basket' %}" class="cart-btn"><i
                                                class="fal fa-shopping-cart"></i></a>
                                        <a href="wishlist.html" class="cart-btn"><i class="fal fa-heart"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="axil-product-list">
                                <div class="thumbnail">
                                    <a href="single-product.html">
                                        <img data-sal="zoom-in" data-sal-delay="500" data-sal-duration="1500"
                                             src="/static/images/product/electric/product-16.png"
                                             alt="Yantiti Leather Bags">
                                    </a>
                                </div>
                                <div class="product-content">
                                    <div class="product-rating">
                                        <span class="rating-icon">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fal fa-star"></i>
                                        </span>
                                        <span class="rating-number"><span>100+</span> نظر</span>
                                    </div>
                                    <h6 class="product-title"><a href="single-product.html">Asus Zenbook لپ تاپ</a></h6>
                                    <div class="product-price-variant">
                                        <span class="price current-price">35.000.000</span>
                                    </div>
                                    <div class="product-cart">
                                        <a href="{% url 'basket' %}" class="cart-btn"><i
                                                class="fal fa-shopping-cart"></i></a>
                                        <a href="wishlist.html" class="cart-btn"><i class="fal fa-heart"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Most Sold Product Area  -->

        <!-- Start Why Choose Area  -->
        <div class="axil-why-choose-area pb--50 pb_sm--30">
            <div class="container">
                <div class="section-title-wrapper section-title-center">
                    <span class="title-highlighter highlighter-secondary"><i class="fal fa-thumbs-up"></i>چرا ما</span>
                    <h2 class="title">چرا مردم ما را انتخاب کرده اند</h2>
                </div>
                <div class="row row-cols-xl-5 row-cols-lg-4 row-cols-md-3 row-cols-sm-2 row-cols-1 row--20">
                    <div class="col">
                        <div class="service-box">
                            <div class="icon">
                                <img src="/static/images/icons/service6.png" alt="Service">
                            </div>
                            <h6 class="title">ارسال سریع و ایمن</h6>
                        </div>
                    </div>
                    <div class="col">
                        <div class="service-box">
                            <div class="icon">
                                <img src="/static/images/icons/service7.png" alt="Service">
                            </div>
                            <h6 class="title">گارانتی 100%</h6>
                        </div>
                    </div>
                    <div class="col">
                        <div class="service-box">
                            <div class="icon">
                                <img src="/static/images/icons/service8.png" alt="Service">
                            </div>
                            <h6 class="title">همواره تخفیف</h6>
                        </div>
                    </div>
                    <div class="col">
                        <div class="service-box">
                            <div class="icon">
                                <img src="/static/images/icons/service9.png" alt="Service">
                            </div>
                            <h6 class="title">7 روز ضمانت مرجوعی</h6>
                        </div>
                    </div>
                    <div class="col">
                        <div class="service-box">
                            <div class="icon">
                                <img src="/static/images/icons/service10.png" alt="Service">
                            </div>
                            <h6 class="title">پشتیبانی 24 ساعته</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Why Choose Area  -->


        <!-- Start Axil Product Poster Area  -->
        <div class="axil-poster">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 mb--30">
                        <div class="single-poster">
                            <a href="shop.html">
                                <img src="/static/images/product/poster/poster-01.png" alt="eTrade promotion poster">
                                <div class="poster-content">
                                    <div class="inner">
                                        <h3 class="title">صدای قوی, <br> جای کم.</h3>
                                        <span class="sub-title">اطلاعات بیشتر <i
                                                class="fal fa-long-arrow-left"></i></span>
                                    </div>
                                </div>
                                <!-- End .poster-content -->
                            </a>
                        </div>
                        <!-- End .single-poster -->
                    </div>
                    <div class="col-lg-6 mb--30">
                        <div class="single-poster">
                            <a href="shop-sidebar.html">
                                <img src="/static/images/product/poster/poster-02.png" alt="eTrade promotion poster">
                                <div class="poster-content content-left">
                                    <div class="inner">
                                        <span class="sub-title">50% تخفیف در پاییز</span>
                                        <h3 class="title">عینک VR <br> دنیای مجازی</h3>
                                    </div>
                                </div>
                                <!-- End .poster-content -->
                            </a>
                        </div>
                        <!-- End .single-poster -->
                    </div>
                </div>
            </div>
        </div>
        <!-- End Axil Product Poster Area  -->

        <!-- Start Axil Newsletter Area  -->
        <div class="axil-newsletter-area axil-section-gap pt--0">
            <div class="container">
                <div class="etrade-newsletter-wrapper bg_image bg_image--5">
                    <div class="newsletter-content">
                        <span class="title-highlighter highlighter-primary2"><i
                                class="fas fa-envelope-open"></i>خبرنامه</span>
                        <h2 class="title mb--40 mb_sm--30">دریافت هفتگی تخفیف ها</h2>
                        <div class="input-group newsletter-form">
                            <div class="position-relative newsletter-inner mb--15">
                                <input placeholder="example@gmail.com" type="text">
                            </div>
                            <button type="submit" class="axil-btn mb--15">اشتراک</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End .container -->
        </div>
        <!-- End Axil Newsletter Area  -->

    </main>
    <div class="service-area">
        <div class="container">
            <div class="row row-cols-xl-4 row-cols-sm-2 row-cols-1 row--20">
                <div class="col">
                    <div class="service-box service-style-2">
                        <div class="icon">
                            <img src="/static/images/icons/service1.png" alt="Service">
                        </div>
                        <div class="content">
                            <h6 class="title">ارسال سریع و ایمن</h6>
                            <p>برای تمامی سفارشات.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="service-box service-style-2">
                        <div class="icon">
                            <img src="/static/images/icons/service2.png" alt="Service">
                        </div>
                        <div class="content">
                            <h6 class="title">گارانتی بازگشت وجه</h6>
                            <p>حتی بیشتر از 7 روز.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="service-box service-style-2">
                        <div class="icon">
                            <img src="/static/images/icons/service3.png" alt="Service">
                        </div>
                        <div class="content">
                            <h6 class="title">مرجوعی طی 24 ساعت</h6>
                            <p>بدون سوال.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="service-box service-style-2">
                        <div class="icon">
                            <img src="/static/images/icons/service4.png" alt="Service">
                        </div>
                        <div class="content">
                            <h6 class="title">پشتیبانی کامل</h6>
                            <p>24/7 پشتیبان آنلاین است.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>
{% endblock %}
{% block scripts %}
    <script src="/static/js/vendor/product_detail.js"></script>
    <script src="/static/lib/sweetalert/sweetalert2.all.js"></script>
{% endblock %}




