{% extends 'layout2.html' %}
{% load render_partial %}


{% block title %}
    خطای 404
{% endblock %}

{% block content %}
    <body class="sticky-header">
    <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a
            href="https://browsehappy.com/">upgrade
        your browser</a> to improve your experience and security.</p>
    <![endif]-->
    <a href="#top" class="back-to-top" id="backto-top"><i class="fal fa-arrow-up"></i></a>

    <section class="error-page onepage-screen-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="content" data-sal="slide-up" data-sal-duration="800" data-sal-delay="400">
                        <span class="title-highlighter highlighter-secondary"> <i class="fal fa-exclamation-circle"></i>
                            به نظر میاد گم شدید !</span>
                        <h1 class="title">صفحه پیدا نشد</h1>
                        <p>به نظر میاد صفحه ای که به دنبالش بودید رو پیدا نکردیم. یا وجود ندارد و یا پاک شده است</p>
                        <a href="{% url 'home' %}" class="axil-btn btn-bg-secondary right-icon">بازگشت به صفحه اصلی <i
                                class="fal fa-long-arrow-left"></i></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="thumbnail" data-sal="zoom-in" data-sal-duration="800" data-sal-delay="400">
                        <img src="/static/images/others/404.png" alt="404">
                    </div>
                </div>
            </div>
        </div>
    </section>


    <div class="service-area">
        <div class="container">
            <div class="row row-cols-xl-4 row-cols-sm-2 row-cols-1 row--20">
                <div class="col">
                    <div class="service-box service-style-2">
                        <div class="icon">
                            <img src="/static/images/icons/service1.png" alt="Service">
                        </div>
                        <div class="content">
                            <h6 class="title">ارسال سریع و ایمن</h6>
                            <p>برای تمامی سفارشات.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="service-box service-style-2">
                        <div class="icon">
                            <img src="/static/images/icons/service2.png" alt="Service">
                        </div>
                        <div class="content">
                            <h6 class="title">گارانتی بازگشت وجه</h6>
                            <p>حتی بیشتر از 7 روز.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="service-box service-style-2">
                        <div class="icon">
                            <img src="/static/images/icons/service3.png" alt="Service">
                        </div>
                        <div class="content">
                            <h6 class="title">مرجوعی طی 24 ساعت</h6>
                            <p>بدون سوال.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="service-box service-style-2">
                        <div class="icon">
                            <img src="/static/images/icons/service4.png" alt="Service">
                        </div>
                        <div class="content">
                            <h6 class="title">پشتیبانی کامل</h6>
                            <p>24/7 پشتیبان آنلاین است.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Product Quick View Modal Start -->
    <div class="modal fade quick-view-product" id="quick-view-modal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i
                            class="far fa-times"></i></button>
                </div>
                <div class="modal-body">
                    <div class="single-product-thumb">
                        <div class="row">
                            <div class="col-lg-7 mb--40">
                                <div class="row">
                                    <div class="col-lg-10 order-lg-2">
                                        <div
                                                class="single-product-thumbnail product-large-thumbnail axil-product thumbnail-badge zoom-gallery">
                                            <div class="thumbnail">
                                                <img src="/static/images/product/product-big-01.png"
                                                     alt="Product Images">
                                                <div class="label-block label-right">
                                                    <div class="product-badget">20% تخفیف</div>
                                                </div>
                                                <div class="product-quick-view position-view">
                                                    <a href="/static/images/product/product-big-01.png"
                                                       class="popup-zoom">
                                                        <i class="far fa-search-plus"></i>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="thumbnail">
                                                <img src="/static/images/product/product-big-02.png"
                                                     alt="Product Images">
                                                <div class="label-block label-right">
                                                    <div class="product-badget">20% تخفیف</div>
                                                </div>
                                                <div class="product-quick-view position-view">
                                                    <a href="/static/images/product/product-big-02.png"
                                                       class="popup-zoom">
                                                        <i class="far fa-search-plus"></i>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="thumbnail">
                                                <img src="/static/images/product/product-big-03.png"
                                                     alt="Product Images">
                                                <div class="label-block label-right">
                                                    <div class="product-badget">20% تخفیف</div>
                                                </div>
                                                <div class="product-quick-view position-view">
                                                    <a href="/static/images/product/product-big-03.png"
                                                       class="popup-zoom">
                                                        <i class="far fa-search-plus"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 order-lg-1">
                                        <div class="product-small-thumb small-thumb-wrapper">
                                            <div class="small-thumb-img">
                                                <img src="/static/images/product/product-thumb/thumb-08.png"
                                                     alt="thumb image">
                                            </div>
                                            <div class="small-thumb-img">
                                                <img src="/static/images/product/product-thumb/thumb-07.png"
                                                     alt="thumb image">
                                            </div>
                                            <div class="small-thumb-img">
                                                <img src="/static/images/product/product-thumb/thumb-09.png"
                                                     alt="thumb image">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5 mb--40">
                                <div class="single-product-content">
                                    <div class="inner">
                                        <div class="product-rating">
                                            <div class="star-rating">
                                                <img src="/static/images/icons/rate.png" alt="Rate Images">
                                            </div>
                                            <div class="review-link">
                                                <a href="#">(<span>1</span> مشتری نظر)</a>
                                            </div>
                                        </div>
                                        <h3 class="product-title">هدفون بی سیم roco</h3>
                                        <span class="price-amount">155.000 - 255.000</span>
                                        <ul class="product-meta">
                                            <li><i class="fal fa-check"></i>موجود در انبار</li>
                                            <li><i class="fal fa-check"></i>ارسال رایگان</li>
                                            <li><i class="fal fa-check"></i>30% درصد تخفیف با: MOTIVE30</li>
                                        </ul>
                                        <p class="description">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت
                                            چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله
                                            در ستون و سطرآنچنان که لازم است، و برای </p>

                                        <div class="product-variations-wrapper">

                                            <!-- Start Product Variation  -->
                                            <div class="product-variation">
                                                <h6 class="title">رنگ ها:</h6>
                                                <div class="color-variant-wrapper">
                                                    <ul class="color-variant mt--0">
                                                        <li class="color-extra-01 active"><span><span
                                                                class="color"></span></span>
                                                        </li>
                                                        <li class="color-extra-02"><span><span
                                                                class="color"></span></span>
                                                        </li>
                                                        <li class="color-extra-03"><span><span
                                                                class="color"></span></span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <!-- End Product Variation  -->

                                            <!-- Start Product Variation  -->
                                            <div class="product-variation">
                                                <h6 class="title">سایز:</h6>
                                                <ul class="range-variant">
                                                    <li>xs</li>
                                                    <li>s</li>
                                                    <li>m</li>
                                                    <li>l</li>
                                                    <li>xl</li>
                                                </ul>
                                            </div>
                                            <!-- End Product Variation  -->

                                        </div>

                                        <!-- Start Product Action Wrapper  -->
                                        <div class="product-action-wrapper d-flex-center">
                                            <!-- Start Quentity Action  -->
                                            <div class="pro-qty"><input type="text" value="1"></div>
                                            <!-- End Quentity Action  -->

                                            <!-- Start Product Action  -->
                                            <ul class="product-action d-flex-center mb--0">
                                                <li class="add-to-cart"><a href="cart.html"
                                                                           class="axil-btn btn-bg-primary">اطلاعات
                                                    بیشتر</a>
                                                </li>
                                                <li class="wishlist"><a href="wishlist.html"
                                                                        class="axil-btn wishlist-btn"><i
                                                        class="far fa-heart"></i></a>
                                                </li>
                                            </ul>
                                            <!-- End Product Action  -->

                                        </div>
                                        <!-- End Product Action Wrapper  -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Product Quick View Modal End -->

    <!-- Header Search Modal End -->
    <div class="header-search-modal" id="header-search-modal">
        <button class="card-close sidebar-close"><i class="fas fa-times"></i></button>
        <div class="header-search-wrap">
            <div class="card-header">
                <form action="#">
                    <div class="input-group">
                        <input type="search" class="form-control" name="prod-search" id="prod-search"
                               placeholder="بنویسید ...">
                        <button type="submit" class="axil-btn btn-bg-primary"><i class="far fa-search"></i></button>
                    </div>
                </form>
            </div>
            <div class="card-body">
                <div class="search-result-header">
                    <h6 class="title">24 نتیجه پیدا شد</h6>
                    <a href="shop.html" class="view-all">نمایش همه</a>
                </div>
                <div class="psearch-results">
                    <div class="axil-product-list">
                        <div class="thumbnail">
                            <a href="single-product.html">
                                <img src="/static/images/product/electric/product-09.png" alt="Yantiti Leather Bags">
                            </a>
                        </div>
                        <div class="product-content">
                            <div class="product-rating">
                                <span class="rating-icon">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fal fa-star"></i>
                                </span>
                                <span class="rating-number"><span>100+</span> نظر</span>
                            </div>
                            <h6 class="product-title"><a href="single-product.html">کنترلر نتفلیکس</a></h6>
                            <div class="product-price-variant">
                                <span class="price current-price">150.000</span>
                                <span class="price old-price">200.000</span>
                            </div>
                            <div class="product-cart">
                                <a href="cart.html" class="cart-btn"><i class="fal fa-shopping-cart"></i></a>
                                <a href="wishlist.html" class="cart-btn"><i class="fal fa-heart"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="axil-product-list">
                        <div class="thumbnail">
                            <a href="single-product.html">
                                <img src="/static/images/product/electric/product-09.png" alt="Yantiti Leather Bags">
                            </a>
                        </div>
                        <div class="product-content">
                            <div class="product-rating">
                                <span class="rating-icon">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fal fa-star"></i>
                                </span>
                                <span class="rating-number"><span>100+</span> نظر</span>
                            </div>
                            <h6 class="product-title"><a href="single-product.html">کنترلر نتفلیکس</a></h6>
                            <div class="product-price-variant">
                                <span class="price current-price">150.000</span>
                                <span class="price old-price">200.000</span>
                            </div>
                            <div class="product-cart">
                                <a href="cart.html" class="cart-btn"><i class="fal fa-shopping-cart"></i></a>
                                <a href="wishlist.html" class="cart-btn"><i class="fal fa-heart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header Search Modal End -->


    <div class="cart-dropdown" id="cart-dropdown">
        <div class="cart-content-wrap">
            <div class="cart-header">
                <h2 class="header-title">سبد خرید شما</h2>
                <button class="cart-close sidebar-close"><i class="fas fa-times"></i></button>
            </div>
            <div class="cart-body">
                <ul class="cart-item-list">
                    <li class="cart-item">
                        <div class="item-img">
                            <a href="single-product.html"><img src="/static/images/product/electric/product-01.png"
                                                               alt="Commodo Blown Lamp"></a>
                            <button class="close-btn"><i class="fas fa-times"></i></button>
                        </div>
                        <div class="item-content">
                            <div class="product-rating">
                                <span class="icon">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </span>
                                <span class="rating-number">(64)</span>
                            </div>
                            <h3 class="item-title"><a href="single-product-3.html">کنترلر بی سیم پلی استیشن</a></h3>
                            <div class="item-price">155.000 <span class="currency-symbol">ريال</span></div>
                            <div class="pro-qty item-quantity">
                                <input type="number" class="quantity-input" value="15">
                            </div>
                        </div>
                    </li>
                    <li class="cart-item">
                        <div class="item-img">
                            <a href="single-product-2.html"><img src="/static/images/product/electric/product-02.png"
                                                                 alt="Commodo Blown Lamp"></a>
                            <button class="close-btn"><i class="fas fa-times"></i></button>
                        </div>
                        <div class="item-content">
                            <div class="product-rating">
                                <span class="icon">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </span>
                                <span class="rating-number">(4)</span>
                            </div>
                            <h3 class="item-title"><a href="single-product-2.html">کیبورد RGB</a></h3>
                            <div class="item-price">255.000 <span class="currency-symbol">ريال</span></div>
                            <div class="pro-qty item-quantity">
                                <input type="number" class="quantity-input" value="5">
                            </div>
                        </div>
                    </li>
                    <li class="cart-item">
                        <div class="item-img">
                            <a href="single-product-3.html"><img src="/static/images/product/electric/product-03.png"
                                                                 alt="Commodo Blown Lamp"></a>
                            <button class="close-btn"><i class="fas fa-times"></i></button>
                        </div>
                        <div class="item-content">
                            <div class="product-rating">
                                <span class="icon">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </span>
                                <span class="rating-number">(6)</span>
                            </div>
                            <h3 class="item-title"><a href="single-product.html">دوربین HD</a></h3>
                            <div class="item-price">200.000 <span class="currency-symbol">ريال</span></div>
                            <div class="pro-qty item-quantity">
                                <input type="number" class="quantity-input" value="100">
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="cart-footer">
                <h3 class="cart-subtotal">
                    <span class="subtotal-title">مجموع:</span>
                    <span class="subtotal-amount">610.000</span>
                </h3>
                <div class="group-btn">
                    <a href="cart.html" class="axil-btn btn-bg-primary viewcart-btn">نمایش سبد خرید</a>
                    <a href="checkout.html" class="axil-btn btn-bg-secondary checkout-btn">تکمیل و پرداخت</a>
                </div>
            </div>
        </div>
    </div>
    </body>
    </html>
{% endblock %}