<!doctype html>
<html class="no-js" lang="fa">


<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>بازنشانی رمز عبور</title>
    <meta name="robots" content="noindex, follow"/>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon.png">

    <!-- CSS
    ============================================ -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/css/vendor/bootstrap.rtl.min.css">
    <link rel="stylesheet" href="/static/css/vendor/font-awesome.css">
    <link rel="stylesheet" href="/static/css/vendor/flaticon/flaticon.css">
    <link rel="stylesheet" href="/static/css/vendor/slick.css">
    <link rel="stylesheet" href="/static/css/vendor/slick-theme.css">
    <link rel="stylesheet" href="/static/css/vendor/jquery-ui.min.css">
    <link rel="stylesheet" href="/static/css/vendor/sal.css">
    <link rel="stylesheet" href="/static/css/vendor/magnific-popup.css">
    <link rel="stylesheet" href="/static/css/vendor/base.css">
    <link rel="stylesheet" href="/static/css/style.min.css">

</head>


<body>
<div class="axil-signin-area">

    <!-- Start Header -->
    <div class="signin-header">
        <div class="row align-items-center">
            <div class="col-xl-4 col-sm-6">
                <a href="{% url 'home' %}" class="site-logo"><img src="/static/images/logo/logo.png" alt="logo"></a>
            </div>
            <div class="col-md-2 d-lg-block d-none">
                <a href="{% url 'forget-password' %}" class="back-btn"><i class="far fa-angle-left"></i></a>
            </div>
            <div class="col-xl-6 col-lg-4 col-sm-6">
                <div class="singin-header-btn">
                    <p>قبلا عضو شده اید؟</p>
                    <a href="{% url 'login' %}" class="sign-up-btn axil-btn btn-bg-secondary">ورود</a>
                </div>
            </div>
        </div>
    </div>
    <!-- End Header -->

    <div class="row">
        <div class="col-xl-4 col-lg-6">
            <div class="axil-signin-banner bg_image bg_image--10">
                <h2 class="title">ما بهترین محصولات را ارائه می دهیم</h2>
            </div>
        </div>
        <div class="col-lg-6 offset-xl-2">
            <div class="axil-signin-form-wrap">
                <div class="axil-signin-form">
                    <h3 class="title mb--35">بازنشانی رمز عبور</h3>
                    {% if oldpassword %}
                        <div style="padding: 5px;border-radius: 7px; align-items: center!important; width: 74%; margin: 0 auto; margin-bottom: 10px; background-color:darkred; color: white">
                            رمز عبور تکراری است
                        </div>
                    {% elif notmatch %}
                        <div style="padding: 5px;border-radius: 7px; align-items: center!important; width: 74%; margin: 0 auto; margin-bottom: 10px; background-color:darkred; color: white">
                            رمز عبور با تکرار آن مطابقت ندارد
                        </div>
                    {% elif success %}
                        <input type="hidden" id="alert" value="alert">
                    {% endif %}
                    <form class="singin-form" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label>رمز عبور جدید</label>
                            <input type="password" class="form-control" name="pass1">
                        </div>
                        <div class="form-group">
                            <label>تکرار رمز عبور</label>
                            <input type="password" class="form-control" name="pass2">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="axil-btn btn-bg-primary submit-btn">بازنشانی رمز
                                عبور
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    let input = $('#alert').val()
    if(input === "alert"){
        alert('رمزعبور با موفقیت تغییر کرد')
        setTimeout(myGreeting, 1000)
    }else{
        consol.log('hello')
    }
    function myGreeting(){
        location.href = "/users/register/"
    }
</script>
<!-- JS
============================================ -->
<!-- Modernizer JS -->
<script src="/static/js/vendor/modernizr.min.js"></script>
<!-- jQuery JS -->
<script src="/static/js/vendor/jquery.js"></script>
<!-- Bootstrap JS -->
<script src="/static/js/vendor/popper.min.js"></script>
<script src="/static/js/vendor/bootstrap.min.js"></script>
<script src="/static/js/vendor/slick.min.js"></script>
<script src="/static/js/vendor/js.cookie.js"></script>
<!-- <script src="/static/js/vendor/jquery.style.switcher.js"></script> -->
<script src="/static/js/vendor/jquery-ui.min.js"></script>
<script src="/static/js/vendor/jquery.countdown.min.js"></script>
<script src="/static/js/vendor/sal.js"></script>
<script src="/static/js/vendor/jquery.magnific-popup.min.js"></script>
<script src="/static/js/vendor/imagesloaded.pkgd.min.js"></script>
<script src="/static/js/vendor/isotope.pkgd.min.js"></script>
<script src="/static/js/vendor/counterup.js"></script>
<script src="/static/js/vendor/waypoints.min.js"></script>

<!-- Main JS -->
<script src="/static/js/rtl-main.js"></script>

</body>


</html>